<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="row">
      <div class="col pl-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navigation" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="sport">Sport</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="country">Country</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="tournament">Tournament</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="event">Event</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>